@import "tailwindcss";

@theme {
    --color-dlrg-red: #e30613;
    --color-dlrg-yellow: #ffed00;
    --color-dlrg-gray: #575756;
    --color-dlrg-blue: #0069b4;
    --color-dlrg-green: #348E4A;
}

h1 {
    @apply text-black font-bold text-6xl;
}

h2 {
    @apply text-black font-bold text-4xl;
}

h3 {
    @apply text-black font-bold text-2xl;
}

h4 {
    @apply text-black font-bold text-2xl italic;
}

h5 {
    @apply text-black font-bold text-xl italic;
}

h6 {
    @apply text-black font-bold italic;
}